<% if @content.present? %>
    <% @content.each do |user| %>
        <div
            class="d-flex flex-column align-items-center justify-content-center p-3 col-md-3"
            style="
                width: 225px;
                gap: 0.5rem;
                background-color: #efefef;
                border-radius: 0.5rem;
                box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
            "
        >
            <% if user.avatar.is_a?(AvatarUploader) %>
                <% avatar_url = user.avatar.present? ?  user.avatar : user.avatar_identifier %>
                <% if avatar_url %>
                    <img
                        src="<%= avatar_url %>"
                        style="width: 100px;
                                height: 100px;
                                object-fit: cover;
                                border-radius: 50%;"
                        alt="avatar"
                    >
                <% else %>
                    <div class="default_avatar">
                        <span class="username_short"><%= user.first_name[0] + user.last_name[0] %></span>
                    </div>
                <% end %>
            <% end %>

            <h5 style="font-weight: 700"><%= user.first_name + " " + user.last_name %></h5>

            <div
                class="d-flex align-items-center"
                style="
                    text-align: center;
                    color: var(--main_color);
                    margin-top: 0.5rem;
                    gap: 2rem;
                "
            >
                <div style="line-height: 1rem; display: flex; flex-direction: column; gap: 0.5rem;">
                    <span style="font-size: 2rem; font-weight: bold"><%= user.photos.count %></span>
                    <span style="font-size: 0.8rem">PHOTOS</span>
                </div>
                <div style="line-height: 1rem; display: flex; flex-direction: column; gap: 0.5rem;">
                    <span style="font-size: 2rem; font-weight: bold"><%= user.albums.count %></span>
                    <span style="font-size: 0.8rem">ALBUMS</span>
                </div>
            </div>

            <button class="custom_btn <%= current_user && current_user.followers.pluck(:id).include?(user.id) ? "custom_btn_followed" : "" %>" id="follow_btn">
                <%= current_user && current_user.followers.pluck(:id).include?(user.id) ? "Following" : "Follow" %>
            </button>
        </div>
    <% end %>
<% else %>
    <h2>No following user</h2>
<% end %>