<% if @albums.present? %>
        <% @albums.each do |album| %>
            <div class="photo_container col-md-3 col-10 m-5 m-md-0">
                <img
                    src="<%= album.photos.count > 0 ? album.photos.first&.image_url : "" %>"
                    class="img-fluid"
                    style="width: 90%; height: 255px; object-fit: cover"
                    alt=""
                />
                <img
                    src="<%= album.photos.count > 0 ? album.photos.first&.image_url : "" %>"
                    class="img-fluid"
                    style="width: 90%; height: 255px; object-fit: cover"
                    alt=""
                />
                <img
                    src="<%= album.photos.count > 0 ? album.photos.first&.image_url : "" %>"
                    class="img-fluid"
                    style="width: 90%; height: 255px; object-fit: cover"
                    alt=""
                />
                <p style="position: absolute; top: 110%; left: 30%; font-weight: bold">
                    <%= album.title %>
                </p>

                <div class="number-of">
                    <span
                        style="
                            font-size: 2rem;
                            font-weight: bold;
                            margin-bottom: -0.5rem;
                        "
                    ><%= album.number_photos %></span
                    >PHOTOS
                </div>

                <% if album.is_private? %>    
                    <div
                        class="card-img-overlay d-flex align-items-center justify-content-center rounded-circle bg-white p-3"
                        style="
                            width: 0.5rem;
                            height: 0.5rem;
                            position: absolute;
                            top: 4%;
                            left: 84%;
                            z-index: 10;
                        "
                    >
                        <i class="fa fa-lock" style="color: black; font-size: 1.5rem"></i>
                    </div>
                <% end %>
                <% if album.user.id == current_user.id %>
                    <%= link_to "EDIT", edit_album_path(album.id), class: "edit-button text-decoration-none" %>
                <% end %>
            </div>
        <% end %>
    </div>        
<% else %>

<% end %>
