<% provide(:title, "User profile") %>
<main id="public_profile_main" class="row m-0">
    <%= render "layouts/sidebar" %>
    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
        
        <%= render "show_user_info" %>

        <% if !request.path.include?('follow')  %>
            <% if current_user && params[:id] == current_user.id.to_s %>
                <%= link_to(request.path.include?('photos') ? new_photo_path : new_album_path, class: "btn btn-success align-self-end fw-bold mb-4") do %>
                    Add <%= request.path.include?('photos') ? "Photo" : "Album" %>
                <% end %>
            <% else %>
                <div class="mb-4"></div>
            <% end %>
        <% else %>
            <div class="mb-4"></div>
        <% end %>

        
        <div class="row list_items" style="gap: 1rem;">
            <% if request.path.include?('photos') %>
                <%= render 'show_photo' %>
            <% elsif request.path.include?('albums') %>
                <div class="row list_items" style="gap: 3rem;">
                    <%= render 'show_album' %>
                </div>
            <% elsif request.path.include?('follow') %>
                <%= render 'show_follow' %>
            <% end %>
        </div>
    </div>

    <div class="col-2"></div>

    <%# Toast %>
    <% if flash[:notice].present? %>
        <div class="toast show" style="position: absolute; right: 0; background-color: <%= flash[:notice].include?('deleted') ? "red" : "#3C7349" %> ">
            <div class="toast-body" style="font-size: 1.1rem; color: white; font-weight: bold">
                <%= flash[:notice] %>
            </div>
        </div>
    <% end %>
</main>

<%= javascript_include_tag 'users/show', :type => "module" %>