<div class="card" onclick="toggleAlbumModal('<%= 'album' + album.id.to_s %>')" data-bs-target="<%= "album" + album.id.to_s %>">
    <div class="row g-0 w-100">
        <div class="col-lg-6">
            <div class="photo_container">
                <img
                    src="<%= album.photos.first.image_url %>"
                    class="img-fluid"
                    alt="photo"
                />
                <img
                    src="<%= album.photos.first.image_url %>"
                    class="img-fluid"
                    alt="photo"
                />
                <img
                    src="<%= album.photos.first.image_url %>"
                    class="img-fluid"
                    alt="photo"
                />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="post_user_info">
                <div class="default_avatar">
                    <span class="username_short"><%= album.user.first_name[0] + album.user.last_name[0] %></span>
                </div>
                <span class="user_name"><%= album.user.first_name + album.user.last_name %></span>
                <% if request.path.include?('discover') %>
                    <% if current_user && current_user.followers.pluck(:id).include?(album.user.id) %>
                        <%= render 'users/unfollow_btn', user: album.user %>
                    <% else %>
                        <%= render 'users/follow_btn', user: album.user %>
                    <% end %>
                <% end %>
            </div>

            <div class="card-body" style="padding: 0.8rem">
                <h5 class="card-title"><%= album.title %></h5>
                <p class="card-text">
                    <%= album.description %>
                </p>
                <div class="post_createdAt">
                    <i class="fa fa-heart" style="color: var(--main_color)"
                        >&nbsp;<span><%= album.number_like %></span></i
                    >
                    <small class="text-body-secondary"
                        ><%= album.created_at %></small
                    >
                </div>
            </div>
        </div>
    </div>
</div>