<div class="card" data-id="<%= album.id %>" data-user="<%= album.user.id %>" onclick="toggleAlbumModal('<%= 'album' + album.id.to_s %>')" data-bs-target="<%= "album" + album.id.to_s %>">
    <div class="row g-0 w-100">
        <div class="col-lg-6">
            <div class="photo_container">
                <img
                    src="<%= album.photos.first&.image_url.present? ? album.photos.first&.image_url : "#{asset_path('default_photo.jpg')}"  %>"
                    class="img-fluid"
                    alt="photo"
                />
                <img
                    src="<%= album.photos.first&.image_url.present? ? album.photos.first&.image_url : "#{asset_path('default_photo.jpg')}"  %>"
                    class="img-fluid"
                    alt="photo"
                />
                <img
                    src="<%= album.photos.first&.image_url.present? ? album.photos.first&.image_url : "#{asset_path('default_photo.jpg')}"  %>"
                    class="img-fluid"
                    alt="photo"
                />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="post_user_info">
                <div class="user_info_part">
                    <% if album.user.avatar.present? %>
                        <img src="<%= album.user.avatar %>" class="default_avatar" alt="avatar" />
                    <% else %>
                        <div class="default_avatar">
                            <span class="username_short"><%= album.user.first_name[0] + album.user.last_name[0] %></span>
                        </div>
                    <% end %>
                    <span class="user_name"><%= album.user.first_name + album.user.last_name %></span>  
                </div>
                <% if request.path.include?('discover') %>
                    <button class="custom_btn <%= current_user && current_user.followers.pluck(:id).include?(album.user.id) ? "custom_btn_followed" : "" %>" id="follow_btn" disabled >
                        <%= current_user && current_user.followers.pluck(:id).include?(album.user.id) ? "Following" : "Follow" %>
                    </button>
                <% end %>
            </div>

            <div class="card-body" style="padding: 0.8rem">
                <h5 class="card-title"><%= album.title %></h5>
                <p class="card-text">
                    <%= album.description %>
                </p>
                <div class="post_createdAt">
                    <div class="album_react">
                        <i class="fa fa-heart p-2 <%= current_user && current_user.albums_reactions.pluck(:album_id).include?(album.id) ? "" : "text-secondary" %>" style="color: var(--main_color);" role="button">
                            <span id="number_of_like"><%= album.number_like %></span>
                        </i>
                    </div>
                    <small class="text-body-secondary"
                        ><%= album.created_at %></small
                    >
                </div>
            </div>
        </div>
    </div>
</div>