<%= form_with(model: @album, class: "row", style: "width: 100%") do |f| %>
    <div class="col-6">
        <%= f.label :title %><br/>
        <%= f.text_field :title, placeholder: "Photo Title", style: "width: 90%; margin-bottom: 1.5rem" %>

        <%= f.label :sharing_mode %><br/>
        <%= f.select :is_private, ['Public', 'Private'] %>
    </div>

    <div class="col-6">
        <%= f.label :description %><br/>
        <%= f.text_area :description, placeholder: "Photo Description", size: "50x5", style: "width: 90%; margin-bottom: 1.5rem" %>
    </div>

    <div id="thumbnail-container" class="d-flex flex-wrap" style="gap: 1.5rem">
        <%= f.fields_for :photos do |photo| %>
            <%= render "photo_fields", f: photo %>
        <% end %>
        <div class='links card text-white border-0 p-0 d-flex justify-content-center align-items-center text-decoration-none' style="width: 200px; height: 200px; background-color: transparent; cursor: pointer; margin-top:1.5rem">
            <%= link_to_add_association raw('<i
            class="fa-solid fa-plus"
            style="
                font-size: 4rem;
                -webkit-text-stroke: 5px #bdbdbd;
                color: #bdbdbd;
            "
        ></i>'), f, :photos, id: "add_photo_upload" %>
        </div>
    </div>

    <div>
        <%= f.submit "Save", class: "btn btn-success", style: "margin-right: 3rem" %>
    </div>
<% end %>
