<a class="card photo" data-bs-target="#<%= photo.id %>" onclick="toggleModal('<%= photo.id%>')">
    <div class="row g-0 w-100">
        <div class="col-lg-6">
            <div class="photo_container">
                <img
                    src="<%= photo.image_url %>"
                    class="img-fluid"
                    alt="photo"
                />
            </div>
        </div>
        <div class="col-lg-6 p-2">
            <div class="post_user_info">
                <div class="default_avatar">
                    <span class="username_short"><%= photo.user.first_name[0] + photo.user.last_name[0] %></span>
                </div>
                <span class="user_name"><%= photo.user.first_name + photo.user.last_name %></span>  
                <% if request.path.include?('discover') %>
                    <% if current_user.followers.pluck(:id).include?(photo.user.id) %>
                        <%= render 'users/unfollow_btn', user: photo.user %>
                    <% else %>
                        <%= render 'users/follow_btn', user: photo.user %>
                    <% end %>
                <% end %>
            </div>

            <div class="card-body">
                <h5 class="card-title"><%= photo.title %></h5>
                <p class="card-text"><%= photo.description %></p>
            </div>
            <div class="post_createdAt">
                <i class="fa fa-heart" style="color: var(--main_color)">
                    &nbsp;<span><%= photo.number_like %></span>
                </i>
                <small class="text-body-secondary">
                    <%= photo.created_at %>
                </small>
            </div>
        </div>
    </div>
</a>