<a class="card photo" data-id="<%= photo.id %>" data-user="<%= photo.user.id %>" data-bs-target="#<%= photo.id %>" onclick="toggleModal('<%= photo.id%>')">
    <div class="row g-0 w-100">
        <div class="col-lg-6">
            <div class="photo_container">
                <img
                    src="<%= photo.image_url %>"
                    class="img-fluid"
                    alt="photo"
                />
            </div>
        </div>
        <div class="col-lg-6 p-2">
            <div class="post_user_info">
                <div class="user_info_part">
                    <% if photo.user.avatar.present? %>
                        <img src="<%= photo.user.avatar %>" class="default_avatar" alt="avatar" />
                    <% else %>
                        <div class="default_avatar">
                            <span class="username_short"><%= photo.user.first_name[0] + photo.user.last_name[0] %></span>
                        </div>
                    <% end %>
                    <span class="user_name"><%= photo.user.first_name + photo.user.last_name %></span>  
                </div>
                <% if request.path.include?('discover') %>
                    <button class="custom_btn <%= current_user && current_user.followers.pluck(:id).include?(photo.user.id) ? "custom_btn_followed" : "" %>" id="follow_btn">
                        <%= current_user && current_user.followers.pluck(:id).include?(photo.user.id) ? "Following" : "Follow" %>
                    </button>
                <% end %>
            </div>

            <div class="card-body">
                <h5 class="card-title"><%= photo.title %></h5>
                <p class="card-text"><%= photo.description %></p>
            </div>
            <div class="post_createdAt">
                <i class="fa fa-heart p-2 <%= current_user && current_user.photos_reactions.pluck(:photo_id).include?(photo.id) ? "" : "text-secondary" %>" style="color: var(--main_color);" role="button">
                    <span id="number_of_like"><%= photo.number_like %></span>
                </i>
                <small class="text-body-secondary">
                    <%= photo.created_at %>
                </small>
            </div>
        </div>
    </div>
</a>