<%= form_with(model: @photo, class: "row", style: "width: 100%") do |f| %>
    <div class="col-6">
        <%= f.label :title %><br/>
        <%= f.text_field :title, placeholder: "Photo Title", style: "width: 90%; margin-bottom: 1.5rem" %>

        <%= f.label :sharing_mode %><br/>
        <%= f.select :is_private, options_for_select([['Public', false], ['Private', true]], selected: f.object.is_private) %>
    </div>

    <div class="col-6">
        <%= f.label :description %><br/>
        <%= f.text_area :description, placeholder: "Photo Description", size: "50x5", style: "width: 90%; margin-bottom: 1.5rem" %>
    </div>

    <div id="thumbnail-container" class="d-flex flex-wrap" style="gap: 1.5rem">
        <div class='nested-fields'>
            <label class="card text-white border-1 p-0 mt-4 mb-5 d-flex justify-content-center align-items-center text-decoration-none"
            style="width: 200px;
                    height: 200px;
                    background-color: #f2f2f2;
                    border-style: dashed;
                    border-radius: 0.5rem;
                    cursor: pointer;">
                <% if f.object.image_url.present? %>
                    <img
                        src="<%= f.object.image_url %>"
                        style="
                            width: 100%;
                            height: 100%;
                            border-radius: 0.5rem;
                            object-fit: cover;
                            cursor: pointer;
                        "
                        id="card-img"
                    >
                <% else %>
                    <i
                        class="fa-solid fa-plus"
                        style="
                            font-size: 4rem;
                            -webkit-text-stroke: 5px #bdbdbd;
                            color: #bdbdbd;
                        "
                        id="plus_icon"
                    ></i>
                <% end %>
                <%= f.file_field(:image_url, class: "d-none", id: "files_inputs") %>
            </label>
        </div>
    </div>

    <div>
        <%= f.submit "Save", class: "btn btn-success", style: "margin-right: 3rem", method: :put %>
        <% if request.path.include?('edit') %>
            <%= link_to "Delete", @photo, class: "btn btn-danger", method: :delete %>
        <% end %>
    </div>
<% end %>
