<%= stylesheet_link_tag 'photos/index'%>
<% provide(:title, "Discover photos") %>

<main id="main" class="photo_file row m-0" style="">
    <%= render "layouts/sidebar" %>
    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0 justify-content-none" style="">
        <%= render "shared/feed_nav" %>

        <div
            class="feeds_container d-flex flex-wrap flex-column flex-md-row"
            style="gap: 20px; flex-grow: 0"
        >
            <% if !@photos || @photos.public_photos.length == 0 %>
                <h2>No photo </h2>
            <% else %>
                <% @photos.public_photos.each do |photo| %> 
                    <%= render 'card', photo: photo %>
                    <%= render 'shared/modal_photo', photo: photo %>
                <% end %>
            <% end %>
        </div>

        <!-- Pagination -->
        <%= will_paginate @photos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: 'Previous',next_label: 'Next'  %>
    </div>

    <div class="col-2"></div>
</main>

<%= javascript_include_tag('common/toggleModal') %>
<%= javascript_include_tag('common/userPropagate') %>
<%= javascript_include_tag('common/followPropagate') %>
<%= javascript_include_tag('common/reactPropagate') %>
<%= javascript_include_tag 'photos/discover', type: "module" %>