<% provide(:title, "Manage users") %>
<main id="users_admin_main" class="row m-0">
    <!-- Sidebar -->
    <%= render "layouts/sidebar" %>

    <!-- Main content -->
    <div class="container_ col-12 col-md-8 m-md-0">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Last login</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr style="">
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.last_sign_in_at&.strftime("%T %F") %></td>
                        <td class="my-auto" style="margin: auto 0">
                            <div class="d-flex align-items-center justify-content-center" style="gap: 1rem;">
                                <%= link_to "Edit", edit_admin_user_path(user.id), class: "btn btn-success" %>
                                <%= button_to "Delete", admin_user_path(user.id), method: :delete, class: "btn btn-danger" %>
                            </div>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <%= render "shared/flash_message", message: flash[:success] %>

        <!-- Pagination -->
        <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, previous_label: 'Previous',next_label: 'Next' %>
    </div>

    <div class="col-md-2" style="background-color: #f8f8f8;"></div>
</main>