<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-container" } ) do |f| %>
    <div class="d-flex align-items-center" style="width: 100%;">
        <div style="width: 38%"></div>
        <h5
            class="fw-bold mb-2"
            style="color: var(--main_color);"
        >
            Password
        </h5>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="input-wrapper">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "******" %>
    </div>
    <%= render "validate_message", field: :current_password %>

    <div class="input-wrapper">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "#{@minimum_password_length} characters minimum", class: "form-control" %>
    </div>
    <%= render "validate_message", field: :password %>

    <div class="input-wrapper">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, placeholder: "******" %>
    </div>
    <%= render "validate_message", field: :password_confirmation %>

    <div class="actions" style="width: 25%">
        <%= f.submit "Save", class: "btn btn-success" %>
    </div>
<% end %>