
<main id="edit_user_main" class="row m-0">
  <%= render "layouts/sidebar" %>

  <!-- Main content -->
  <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
    <!-- Header -->
    <div class="" style="width: 100%">
      <h5 class="float-start fw-bold">Edit photo</h5>
      <hr style="width: 100%; border: 2px solid #555" />
    </div>

    <!-- Content -->
    <%= form_with(model: @user, class: "form-container mb-4") do |form| %>
      <!-- Change avatar -->
      <label
        for="files"
        class="card bg-dark text-white mb-4"
        style="width: 150px; height: 150px; border: none"
      >
        <% if !current_user.avatar %>
          <img
            src="https://res.cloudinary.com/dq7l8216n/image/upload/v1632210006/default_avatar"
            class="card-img"
            style="width: 100%; height: 100%; object-fit: cover"
          >
        <% else %>
          <img
            src="<%= current_user.avatar %>"
            class="card-img"
            style="width: 100%; height: 100%; object-fit: cover"
          >
        <% end %>
        <div
          class="card-img-overlay d-flex align-items-center justify-content-center"
          style="
            background-color: #b5b3b3;
            height: 20%;
            opacity: 0.8;
            width: 80%;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
          "
        >
          <span>CHANGE</span>
        </div>

        <%= form.file_field :avatar, class: "d-none", id: "files" %>
      </label>

      <!-- Title part -->
      <h5
        class="fw-bold mb-2"
        style="color: var(--main_color);"
      >
        Basic information
      </h5>

      <!-- Form -->
      <div class="input-wrapper">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class: "form-control", placeholder: "First name" %>
      </div>

      <div class="input-wrapper">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class: "form-control", placeholder: "Last name" %>
      </div>

      <div class="input-wrapper">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div style="width: 25%">
        <%= form.submit "Save", class: "btn btn-success" %>
      </div>
    <% end %>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-container" } ) do |f| %>
      <h5
        class="fw-bold"
        style="color: var(--main_color);"
      >
        Password
      </h5>
      <%= render "users/shared/error_messages", resource: resource %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="input-wrapper">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "******" %>
      </div>

      <div class="input-wrapper">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum", class: "form-control" %>
        
      </div>

      <div class="input-wrapper">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "******" %>
      </div>

      <div class="actions" style="width: 25%">
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <div class="col-md-2"></div>
</main>


<script>
  $(document).on('ready', function() {
    handle_preview($("#files"), $(".card-img"));
  });

  function readURL(input, image) {
    console.log(input.files)
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        image.attr('src', e.target.result);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function handle_preview(input, image) {
    input.on('change', function() {
      readURL(this, image);
    });
  }
</script>