<main id="edit_user_main" class="row m-0">
  <%= render "layouts/sidebar" %>

  <!-- Main content -->
  <div class="container_ col-12 col-md-8 m-md-0 justify-content-none">
    <!-- Header -->
    <%= render "shared/update_header", title: "Edit user profile" %>

    <!-- Content -->
    <%= render "form_edit_user" %>

    <%= render "form_password" %>
    
  </div>

  <div class="col-md-2"></div>
</main>

<%= javascript_include_tag('users/registrations/edit') %>