<% provide(:title, "Sign up") %>
<main id="main">
  <!-- Main content -->
  <div class="signup_form_container" style="">
    <h1
      class="text-center login-title"
      style="
        color: var(--main_color);
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 1rem;
      "
    >
      Fotobook Sign up
    </h1>

    <div
      class="d-flex align-items-center justify-content-center"
      style="
        width: 60%;
        border: 2px solid #bdbdbd;
        margin: auto;
        gap: 2rem;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
      "
    >
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjzC2JyZDZ_RaWf0qp11K0lcvB6b6kYNMoqtZAQ9hiPZ4cTIOB"
        alt=""
        style="width: 3rem; height: 3rem"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/b/b8/2021_Facebook_icon.svg"
        alt=""
        style="width: 2.5rem; height: 2.5rem;"
      />
    </div>

    <div class="account-wall">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :style => 'max-width: 90%;
                                          padding: 15px 5px;
                                          margin: 0 auto;
                                          display: flex;
                                          flex-direction: column;
                                          align-items: center;'}) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div style="width: 80%; margin-bottom: 0.5rem">
          <%= f.label :first_name, style: "font-weight: bold" %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "email", class: "form-control", id: :first_name, placeholder: "First name" %>
        </div>
        <div style="width: 80%; margin-bottom: 0.5rem">
          <%= f.label :last_name, style: "font-weight: bold" %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "email", class: "form-control", id: :last_name, placeholder: "Last name" %>
        </div>

        <div style="width: 80%; margin-bottom: 0.5rem">
          <%= f.label :email, style: "font-weight: bold" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: :email, placeholder: "Email" %>
        </div>

        <div style="width: 80%; margin-bottom: 0.5rem">
          <%= f.label :password, style: "font-weight: bold" %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: :password, placeholder: "Password" %>
        </div>

        <div style="width: 80%; margin-bottom: 0.5rem">
          <%= f.label :password_confirmation, style: "font-weight: bold" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: :password_confirmation, placeholder: "Confirm password" %>
        </div>

        <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block", style: "
            background-color: var(--main_color);
            padding: 0.5rem 2rem;
            font-weight: 500;
            margin-top: 1rem;
          "%>
        <% end %>
    </div>
    <a
      href="/users/sign_in"
      class="text-center new-account"
      style="color: var(--main_color); text-decoration: none"
      >Create an account
    </a>
  </div>
</main>